    <footer class="alert-dismissible alert-secondary bg-primary">
        <div class="container overflow-hidden text-center text-light"  >
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3"><h4 class="mt-5 text-white1">we are happy that you are with us</h4></div>
                </div>
                <div class="col">
                    <div class="p-3"></div>
                </div>
                <div class="col">
                    <div class="p-3"><h4 class="text-white1">Contacts</h4></div>
                    <div class="container text-center main-content">
                        <h5></h5>
                        <div class="row g-0">
                            <div class="col text-white1">
                                <div class="p-1">
                                    <a href="#"><h5 class="text-white1">Gmail</h5></a>
                                    <p class="text-white1">crhub@gmail.com</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-1">
                                    <a href="#"><h5 class="text-white1">Telegram</h5></a>
                                    <p>@crhub</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3">
                                    <a href="#"><h5 class="text-white1">Phone number</h5></a>
                                    <p>+380-96-58-12-881</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>